<div class="row">
    <!-- 4 Kart -->
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Completed Tasks</h5>
                <p class="card-text">
                    <span id="doneTaskCount" th:text="${doneTaskCount}" style="font-size: larger"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Uncompleted Tasks</h5>
                <p class="card-text">
                    <span id="toDoTaskCount" th:text="${toDoTaskCount}" style="font-size: larger"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Overdue Tasks</h5>
                <p class="card-text">
                    <span id="overdueTaskCount" th:text="${overdueTaskCount}" style="font-size: larger"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Tasks</h5>
                <p class="card-text">
                    <span id="totalTaskCount" th:text="${totalTaskCount}" style="font-size: larger"></span>
                </p>
            </div>
        </div>
    </div>

    <!-- 2 Kart -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Önemli Notlar</h5>
                <p class="card-text">Buraya önemli notlar ekleyebilirsiniz.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Takvim</h5>
                <p class="card-text">Buraya proje takvimini ekleyebilirsiniz.</p>
            </div>
        </div>
    </div>
</div>